<h1>Banners#index</h1>
<p>バナーの簡易版動作確認</p>
<%= link_to "戻る", banners_slide_path %>

<%= javascript_pack_tag 'pop_up', 'data-turbolinks-track': 'reload' %>

<%# pop_up.jsから</body>直前にpopupbannerのHTMLノードが挿入される %>

