<h1>Banners#new</h1>
<%= link_to "バナーページへ", banners_pop_up_path %>
<img id="slide_image_place" src="/assets/kosui.jpg">
<div id="banner"></div>

<%= javascript_pack_tag 'slide', 'data-turbolinks-track': 'reload' %>
<%# <%= javascript_pack_tag 'pop_up', 'data-turbolinks-track': 'reload' %> %>
